@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  text-shadow: 0px 1px 5px #000000;
}
.text-dolphin{
  color: #383c5f;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
